extends layouts/main

block content
    .form-contatiner
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data") <!-- action 주의! -->
            label(for="file") Video File
            input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            input(type="text", placeholder="Title", name="title", required=true)
            textarea(name="description", placeholder="Description", required=true)
            input(type="submit", value="Upload Video")

        